build/
dist/

.venv/
.env/

.idea/
**/target/
**/*.rs.bk
.cache
.DS_Store

flamegraph.svg
perf.data
perf.data.*
/cpp/cmake-build-*/
/docker/test.Dockerfile
/python/pyroscope_io.egg-info/
/python/pyroscope_python_extension/
