include rust/Cargo.toml
include rust/Cargo.lock
include rust/build.rs
recursive-include rust/src/ *.rs
include rust/include/pyroscope_ffi.h
include cpp/CMakeLists.txt
include cpp/BundleStaticLibrary.cmake
recursive-include cpp/ *.h
recursive-include cpp/ *.cpp
recursive-include cpp/ *.hpp
include gcp_patches.md
include gcp/CMakeLists.txt
include gcp/LICENSE
recursive-include gcp/ *.cc
recursive-include gcp/ *.h
