include rust/Cargo.toml
include rust/Cargo.lock
include rust/build.rs
recursive-include rust/src/ *.rs
include rust/include/pyroscope_ffi.h
include dd-trace-py/CMakeLists.txt
include dd-trace-py/BundleStaticLibrary.cmake
include dd-trace-py/pyroscope/Pyroscope.h
include dd-trace-py/pyroscope/stack_ffi.cpp
recursive-include dd-trace-py/ddtrace *.h
recursive-include dd-trace-py/ddtrace *.cpp
recursive-include dd-trace-py/ddtrace *.hpp
recursive-include dd-trace-py/ddtrace *.cc
